@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#background {
    width: 100%;
    background-image: url(./img/header_background.jpeg)
}

#pres {
    color: white;
    font-size: 40px;
    font-family: "Mulish", sans-serif;
}

#textfon {
    padding: 30px;
}

.rojo {
    color: red;
}

#divgr {
    width: 50%;
    padding-left: 25%;
}

#batman {
    width: 80%;
    padding-left: 10%;
}

.hs {
    font-family: "Mulish", sans-serif;
}

#hd {
    font-family: "Libre Baskerville", serif;
}

.text {
    font-family: "Mulish", sans-serif;
    font-weight: 252;
    text-align: justify;
}

.imgs {
    width: 600px;
    height: 300px;
}

#tabla {
    width: 100%;
    text-align: center;
    font-family: "Mulish", sans-serif;
    border: 2px solid rgb(0, 0, 0);
}

th , td {
    border: 2px solid rgb(43, 39, 39);
}

.ftrep {
    width: 100px;
    height: 100px;
    padding-top: 5px;
}

.titrep {
    color: red;
}